{% extends 'base.html' %}
{% load static %}

{% block css_files %}
	<link rel="stylesheet" href="{% static 'challenges/challenge.css' %}" />
{% endblock  %}

{% block page_title %}
  	{{ month }}
{% endblock %}

{% block content %}
  	{% include 'challenges/includes/header.html' with active_page='challenge' %}

	<h1>Overal Weather of {{ month|title }}:</h1>
	{% if text is not None %}
		<h2>{{ text }}</h2>
	{% else %}
		<p class="fallback">oooops! There's no data!</p>
	{% endif %}
{% endblock %}
